<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="MedCenterMarchenkoPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>models.WorkPlace</class>
    <class>models.Patient</class>
    <class>models.Service</class>
    <class>models.Ticket</class>
    <class>models.Post</class>
    <class>models.Vaccinations</class>
    <class>models.Office</class>
    <class>models.Address</class>
    <class>models.Timetable</class>
    <class>models.User</class>
    <class>models.Personal</class>
    <class>models.MedicalRecord</class>
    <class>models.Disease</class>
    <class>models.Doctor</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/medical_center?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="atakama134"/>
    </properties>
  </persistence-unit>
</persistence>
